<section class="oferts container" id="lista-1">
    <nav>
        <ul class="menu-horizontal">
                <li><a href="#">Categories</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Iphone</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Motorola</a></li>
                        <li><a href="#">Wuawei</a></li>
                        <li><a href="#">Xiaomi</a></li>
                        <li><a href="#">ZTE</a></li>
                        <li><a href="#">LG</a></li>
                    </ul>
                </li>
                <li><a href="#">Offers</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Motorola</a></li>
                        <li><a href="#">Wuawei</a></li>
                    </ul>
                </li>
                <li><a href="#">Brands</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Iphone</a></li>
                        <li><a href="#">Samsung</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Celucomgmail.com</a></li>
                        <li><a href="#">4953892131</a></li>
                    </ul>
                </li>
                <li><a href="#">Customer service</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Celucomgmail.com</a></li>
                        <li><a href="#">4953892131</a></li>
                    </ul>
                </li>
        </ul>
    </nav><br>
    <h2>Cell phones</h2>
    <p>
        The best cell phones at a good price
    </p>
    <div class="oferts-content">
        <div class="ofert-1">
            <img src='./assets/images/samsunggalaxynote10plus.jpg' alt="">
            <div class="product-txt">
                <h3>Samsung galaxy Note 10 plus</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="1">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/samsunggalaxys21ultra.jpg' alt="">
            <div class="product-txt">
                <h3>Samsung galaxy s21 Ultra</h3>
                <p>Premium quality</p>
                <p class="precio">$13000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="2">Add</a>
            </div>
        </div>
        <div class="logan-1">
            <h3>Cell phones</h3>
            <p>Products</p>
            <a href="#" class="btn-2">Information</a>
        </div>
    </div>
    <div class="oferts-content">
        <div class="logan-1">
            <h3>celulares</h3>
            <p>Productos</p>
            <a href="#" class="btn-2">Information</a>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/iphone14pro.jpg' alt="">
            <div class="product-txt">
                <h3>Iphone14 pro</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="3">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/iphone14promax.jpg' alt="">
            <div class="product-txt">
                <h3>Iphone14 pro max</h3>
                <p>Premium quality</p>
                <p class="precio">$13000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="4">Add</a>
            </div>
        </div>           
    </div>
</section>

<main class="product container" id="lista-2">
    <h2>Products</h2>
    <p>
        The best in telephony, don't be left without your cell phone. 
    </p>
    <div class="product-content">
        <div class="ofert-1">
            <img src='./assets/images/iphone15promax.jpg' alt="">
            <div class="product-txt">
                <h3>iphone15promax</h3>
                <p>Premium quality</p>
                <p class="precio">$250</p>
                <a href="#" class="agregar-carrito btn-3" data-id="5">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/googlepixel8.jpg' alt="">
            <div class="product-txt">
                <h3>googlepixel8</h3>
                <p>Premium quality</p>
                <p class="precio">$5000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="6">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/HonorMagic5lite.jpg' alt="">
            <div class="product-txt">
                <h3>HonorMagic5lite</h3>
                <p>Premium quality</p>
                <p class="precio">$8000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="7">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/huawei nova 11 pro.jpg' alt="">
            <div class="product-txt">
                <h3>huawei nova 11 pro</h3>
                <p>Premium quality</p>
                <p class="precio">$15000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="8">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/motorolaedge40pro.jpg' alt="">
            <div class="product-txt">
                <h3>motorolaedge40pro</h3>
                <p>Premium quality</p>
                <p class="precio">$9000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="9">Add</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/nothingphone1.jpg' alt="">
            <div class="product-txt">
                <h3>nothingphone1</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="10">Add</a>
            </div>
        </div>
    </div>
</main>

