<body>
    <div class="Container">
        <div class="card">
            <figure>
                <img src='../../../assets/images/Logo.PNG'>
            </figure>
            <div class="contenido">
                <h3>Celucom</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/logoapple.png'>
            </figure>
            <div class="contenido">
                <h3>Apple</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/logoSamsung.png'>
            </figure>
            <div class="contenido">
                <h3>Samsung</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/logoMotorola.png'>
            </figure>
            <div class="contenido">
                <h3>Motorola</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/logoHuawei.png'>
            </figure>
            <div class="contenido">
                <h3>Huawei</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/LogoXiaomi.png'>
            </figure>
            <div class="contenido">
                <h3>Xiaomi</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/LogoZTE.png'>
            </figure>
            <div class="contenido">
                <h3>ZTE</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src='../../../assets/images/LogoLG.png'>
            </figure>
            <div class="contenido">
                <h3>LG</h3>
                <p>For clarifications or errors related to your purchase, please
                    to contact someone from customer service</p>
                 <a href="#">Contact</a>
            </div>
        </div>
    </div>
    
</body>
