body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../../assets/images/Imagen1.jpg');
  background-size: 100% 100%;
  /* Propiedades de diseño */
width: 100%; /* Ancho del contenedor */

  /*background-image: url('images/Imagen1.jpg');
  background-repeat: no-repeat;
  background-position: center; */
}

.contenedor{
  background-image: url('../../../assets/images/Imagen1.jpg');
   /* Propiedades de diseño */
width: 100%; /* Ancho del contenedor */
height: 400vh; /* Altura del contenedor */
/* Agregar imagen de fondo */

/* Ajustar el tamaño de la imagen */
background-size: cover; /* Para cubrir todo el contenedor */
/* Otras propiedades opcionales */
background-repeat: no-repeat; /* Evita la repetición de la imagen */
background-position: center; /* Centra la imagen */
background-size: 200% 200%;
}


.registration-container {

  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%; /* Hace que el formulario ocupe el 90% del ancho de la pantalla */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  border-radius: 25px;
}

img {
  max-width: 105%;
}

h1 {
  margin: 0 0 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color vl;
}

button:hover {
  background-color: #000000;
}

.login{
  width: 380px;
}

/* Media query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 768px) {
  .registration-container {
      width: 100%; /* Hace que el formulario ocupe todo el ancho de la pantalla en dispositivos móviles */
      padding: 10px; /* Ajusta el espaciado en dispositivos móviles */
  }
}