<div class="menu container">
  <a href="#" class="logo">Celucom</a>
  <input type="checkbox" id="menu">
  <label for="menu">
      <img src='../../../assets/prueba.png' alt="menu">
  </label>
  <nav class="navbar">
      <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="login">login</a></li>
              <li><a routerLink="signup">Signup</a></li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Contacts</a></li>
      </ul>
  </nav><br>
  <div>
      <input type="text" placeholder="Buscar.....">
      <button><img src='../../../assets/images/buscador.png' class="img-buscador" alt=""></button>
  </div>
  <div>
      <ul>
          <li class="submenu">
              <img src="../../../assets/imagenes/car.svg" id="img-carrito" alt="">
                  <div id="carrito">
                      <table id="lista-carrito">
                          <thead>
                              <tr>
                                  <th>Image</th>
                                  <th>Name</th>
                                  <th>Price</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody></tbody>
                      </table>
                      <a href="#" id="vaciar-carrito" class="btn-2">Empty Cart</a>
                  </div>
          </li>
      </ul>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">

  <div class="link">
      <h3>Samsung</h3>
      <ul>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">4495678918</a></li>
          <li><a href="#">facebook samsung</a></li>
          <li><a href="#">Correo:samsungmail.com</a></li>
      </ul>
  </div>
  <div class="link">
      <h3>Iphone</h3>
      <ul>
          <li><a href="#">Iphone</a></li>
          <li><a href="#">4951047868</a></li>
          <li><a href="#">Facebook iphone</a></li>
          <li><a href="#">Correo:iphonegmail.com</a></li>
      </ul>
  </div>
  <div class="link">
      <h3>Google</h3>
      <ul>
          <li><a href="#">Google</a></li>
          <li><a href="#">4951033424</a></li>
          <li><a href="#">Facebook Google</a></li>
          <li><a href="#">Correo:googlegmail.com</a></li>
      </ul>
  </div>
  <div class="link">
      <h3>Motorola</h3>
      <ul>
          <li><a href="#">Motorola</a></li>
          <li><a href="#">4951062059</a></li>
          <li><a href="#">Facebook Motorola</a></li>
          <li><a href="#">Correo:Motorolagmail.com</a></li>
      </ul>
  </div>
</footer>
<FOOter>
  <div class="men">
      <p>Samsungoficialgmail.com</p>
      <p>4951036827</p>
  </div>
</FOOter>

