<header class="header">
    <div class="menu container">
        <a href="#" class="logo">Celucom</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src='../../../assets/prueba.png' alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                    <li><a href="../home/home.component.html">Home</a></li>
                    <li><a href="../login/login.component.html">login</a></li>
                    <li><a href="#">Registro</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contacts</a></li>
            </ul>
        </nav><br>
        <div>
            <input type="text" placeholder="Buscar.....">
            <button><img src='../../../assets/images/buscador.png' class="img-buscador" alt=""></button>
        </div>
        <div>
            <ul>
                <li class="submenu">
                    <img src="../../../assets/imagenes/car.svg" id="img-carrito" alt="">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Empty Cart</a>
                        </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-content container">
        <div class="header.txt">
            <h1>Samsung Galaxy S23 Ultra</h1>
            <p>
                The latest in the Samsung line
            </p>
            <a href="#" class="btn-1">Buy</a>
        </div>
        <div class="header-img">
            <img  src='./assets/images/cel.webp' alt="Descripccion">
        </div>
    </div>
</header>
<!--<div class="carousel-container">
    <ul class="carousel-list">
      <li class="carousel-item"><img src="imagen1.jpg" alt="Imagen 1"></li>
      <li class="carousel-item"><img src="imagen2.jpg" alt="Imagen 2"></li>
      <li class="carousel-item"><img src="imagen3.jpg" alt="Imagen 3"></li>
      <li class="carousel-item"><img src="imagen4.jpg" alt="Imagen 4"></li>
      <li class="carousel-item"><img src="imagen5.jpg" alt="Imagen 5"></li>
    </ul>
  </div>-->
<section class="oferts container" id="lista-1">
    <h2>latest offers</h2>
    <div class="men">
    <p class="titulo">Offers</p>
    <p class="titulo">Mobiles</p>
    <p class="titulo">information</p>
    <p class="titulo">Lines</p>
    </div>
    <div class="oferts-content">
        <div class="ofert-1">
            <img src='./assets/images/note.png' alt="">
            <div class="product-txt">
                <h3>Samsung galaxy Note 10 plus</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="1">Buy</a>
            </div>
        </div>
        <div class="ofert-1">
            <img src='./assets/images/ultra.webp' alt="">
            <div class="product-txt">
                <h3>Samsung galaxy s21 Ultra</h3>
                <p>Premium quality</p>
                <p class="precio">$13000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="2">Buy</a>
            </div>
        </div>
    </div>
    <div class="oferts-content">
        <div class="ofert-1">
            <img src='./assets/images/iphonee.webp' alt="">
            <div class="product-txt">
                <h3>Iphone 15 Pro Max</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="1">Buy</a>
            </div>
        </div>
    </div>
    <div class="oferts-content">
        <div class="ofert-1">
            <img class="nt" src='./assets/images/iphone14.png' alt="">
            <div class="product-txt">
                <h3>Iphone14 pro</h3>
                <p>Premium quality</p>
                <p class="precio">$10000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="3">Buy</a>
            </div>
        </div>
        <div class="ofert-1">
            <img class="nt" src='./assets/images/iphone14p.png' alt="">
            <div class="product-txt">
                <h3>Iphone14 pro max</h3>
                <p>Premium quality</p>
                <p class="precio">$13000</p>
                <a href="#" class="agregar-carrito btn-3" data-id="4">Buy</a>
            </div>
        </div>
    </div>
</section>
<section class="blog container">
    <h2>New news</h2>
    <p>
        La mejor inovacion de Samsung en su nuevos modelos de smarphones
    </p>
    <div class="blog-content">
        <div class="blog-1">
            <img src='./assets/images/honor.png' alt="">
            <div class="blog-txt">
                <p>
                    The Galaxy Z Flip5 presents a 3.4 Flex Window
                    inches designed for self-expression. Compact and eye-catching
                    From every angle, this foldable is as versatile as it is portable.
                </p>
                <a href="#" class="btn-4">leer mas</a>
            </div>
        </div>
        <div class="blog-1">
            <img src='./assets/images/honorx.png' alt="">
            <div class="blog-txt">
                <p>
                    Honor X74 both in life and in your pocket.
                     A brilliant Flex Window that you can personalize.
                     A camera that captures selfies from daring angles.
                     Plus, a battery that keeps up with you.
                </p>
                <a href="#" class="btn-4">leer mas</a>
            </div>
        </div>
        <div class="blog-1">
            <img src='./assets/images/pro.png' alt="">
            <div class="blog-txt">
                <p>
                    huawei mate 50 pro Product size, product weight and
                     related specifications are theoretical values only.
                    Actual measurements between individual products may
                    vary. All specifications are subject to the actual
                    product.
                </p>
                <a href="#" class="btn-4">leer mas</a>
            </div>
        </div>
        <div class="blog-1">
            <img src='./assets/images/foldd5.png' alt="">
            <div class="blog-txt">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptas est voluptatem in excepturi omnis dolorum rem ratione at
                    pariatur deleniti, nemo natus delectus tempore praesentium amet maxime
                    aperiam quis ex!
                </p>
                <a href="#" class="btn-4">leer mas</a>
            </div>
        </div>
    </div>
</section>
<Section class="promotion">
    <div class="promotion-content container">
        <div class="promotion-txt">
            <h2>Huawei P50</h2>
            <p>
                Special offer Samsung Galaxy s21 ultra,
                a great device so you can be on all your
                networks and see your favorite streamers
            </p>
            <a href="#" class="btn-1">Buy</a>
        </div>
        <div class="promotion-img">
            <img class="hu" src='./assets/images/black.png' alt="">
        </div>
    </div>
</Section>
<footer class="footer">

    <div class="link">
        <h3>Samsung</h3>
        <ul>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">4495678918</a></li>
            <li><a href="#">facebook samsung</a></li>
            <li><a href="#">Correo:samsungmail.com</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Iphone</h3>
        <ul>
            <li><a href="#">Iphone</a></li>
            <li><a href="#">4951047868</a></li>
            <li><a href="#">Facebook iphone</a></li>
            <li><a href="#">Correo:iphonegmail.com</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Google</h3>
        <ul>
            <li><a href="#">Google</a></li>
            <li><a href="#">4951033424</a></li>
            <li><a href="#">Facebook Google</a></li>
            <li><a href="#">Correo:googlegmail.com</a></li>
        </ul>
    </div>
    <div class="link">
        <h3>Motorola</h3>
        <ul>
            <li><a href="#">Motorola</a></li>
            <li><a href="#">4951062059</a></li>
            <li><a href="#">Facebook Motorola</a></li>
            <li><a href="#">Correo:Motorolagmail.com</a></li>
        </ul>
    </div>
</footer>
<FOOter>
    <div class="men">
        <p>Samsungoficialgmail.com</p>
        <p>4951036827</p>
    </div>
</FOOter>

